@use '../../index.scss' as *;


.movie-card {
    height: 100%;
    background-color: #f8f9fa; /* Example background color */
}

.custom-bg {
    background-color: #f8f9fa; /* Example background color */
}

.image-container {
    /* Add your styles here */
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.custom-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    /* Add your styles here */
}

.card-text {
    /* Add your styles here */
}