@use '../../index.scss' as *;



.description span {
    color: $white;
    line-height: 200%;
}

.description {
    text-transform: uppercase;
    letter-spacing:1px;
    text-align: justify;
    padding: $mediumSpace 0;
}

.movieView {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Image */
.figure {
    overflow: hidden;
    height: auto;
    display: flex;
    flex-direction: column;
}

.figure img {
    object-fit: contain;
    height: auto;
    max-height: 400px;
    max-width: 100%;
    width: 100%;
}